@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$low-poly-pink: #FF83CF;
$low-poly-purple: #D11087;
$low-poly-shock: #FF3CC3;
$low-poly-green: #00FF27;
$low-poly-blue: #00B9F0;
$low-poly-dark: #303035;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(34, 33, 33, 0.75),rgba(34, 33, 33, 0.75)), url('./img/retrowave-background.jpg');
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  overflow-x: hidden;
}

.app{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "about"
  "title"
  "level-selection";
  grid-gap: 1em;
}
/**
 * Style of the about section 
 */
.about {
  grid-area: about;
  justify-self: end;
  color: white;
  padding: 1rem;
}

a{
  color: white;
  text-decoration: underline;
}

a > h5:hover{
  color: $low-poly-shock;
  text-decoration: underline;
}

.about h5{
  margin-right: 2rem;
  text-decoration: underline;
}

.about a{
  color: white;
}

/**
 * Style of the title section 
 */
.title{
  grid-area: title;
  justify-self: stretch;
  align-self: stretch;
  text-align: center;
}

.title div {
  margin-top: 16vh;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 4vh;
}

/**
 * The tile of the project will shine 
 */
.title h1 {
  font-size: 3rem;
}

.glow {
  font-size: 3rem;
  color: $low-poly-pink;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 6px 3px $low-poly-shock, 0 6px 8px $low-poly-shock, 0 8px 10px $low-poly-shock, 0 12px 40px $low-poly-shock;
  }
  to {
    text-shadow: 0 6px 3px $low-poly-purple, 0 6px 8px $low-poly-purple, 0 8px 10px $low-poly-purple, 0 12px 40px $low-poly-purple;
  }
}

.title h4 {
  color: $low-poly-pink;
}

.title h5{
  color: $low-poly-purple;
  font-size: 1rem;
}

.title h6{
  color: white;
}

/**
 * Style of the level selection section 
 */
.lvl-selection{
  align-self: stretch;
  justify-self: stretch;
  grid-area: level-selection;
  background-color: rgba($color: #000000, $alpha: .6);
}

.lvl-selection .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: center;
  grid-gap: 2.5rem;
  padding: 3.5rem;
}

.card{
  justify-self: center;
  padding: 1rem;
  border: 2px solid $low-poly-blue;
  height: 95%;
  width: 80%;
  color: white;
  text-align: center;
  transition-timing-function: ease-out;
  transition: 0.2s;
}

.card:hover{
  /* This timing applies on the way OUT */
  transition-timing-function: ease-in;
  /* Quick on the way out */
  transition: 0.2s;
  /* Hide thing by pushing it outside by default */
  transform: translateY(-5%);
  -webkit-animation: glow-card 1s ease-in-out infinite alternate;
  -moz-animation: glow-card 1s ease-in-out infinite alternate;
  animation: glow-card 1s ease-in-out infinite alternate;
}

@keyframes glow-card {
  from {
    box-shadow: 0 6px 3px $low-poly-dark, 0 6px 8px $low-poly-dark, 0 8px 10px $low-poly-dark, 0 12px 40px $low-poly-dark;
  }
  to {
    box-shadow: 0 6px 3px $low-poly-blue, 0 6px 8px $low-poly-shock, 0 8px 10px $low-poly-blue, 0 12px 40px $low-poly-blue;
  }
}

.card h4{
  color: $low-poly-blue;
}

.card p{
  /* margin: 2vh; */
  text-align: center;
  font-size: 0.95rem;
}

.card button {
  margin-top: 3vh;
  margin-bottom: 4vh;
  width: 100%;
  height: 20%;
  font-family: 'Press Start 2P', cursive;
  background-color: $low-poly-blue;
  border: none;
}

.play{
  border: 2px solid $low-poly-pink;
}

.play:hover{
  -webkit-animation: glow-card-pink 1s ease-in-out infinite alternate;
  -moz-animation: glow-card-pink 1s ease-in-out infinite alternate;
  animation: glow-card-pink 1s ease-in-out infinite alternate;
}

@keyframes glow-card-pink {
  from {
    box-shadow: 0 6px 3px $low-poly-dark, 0 6px 8px $low-poly-dark, 0 8px 10px $low-poly-dark, 0 12px 40px $low-poly-dark;
  }
  to {
    box-shadow: 0 6px 3px $low-poly-pink, 0 6px 8px $low-poly-pink, 0 8px 10px $low-poly-pink, 0 12px 40px $low-poly-pink;
  }
}

.play h1{
  color: $low-poly-shock;
}

.card.play h4{
  color: rgba($color: #000000, $alpha: 0.0);
}

.play button{
  background-color: $low-poly-shock;
}