@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$low-poly-pink: #FF83CF;
$low-poly-purple: #D11087;
$low-poly-shock: #FF3CC3;
$low-poly-green: #00FF27;
$low-poly-blue: #00B9F0;
$low-poly-dark: #303035;

#root{
  display: grid;
  grid-template-rows: auto 60%;
  grid-template-columns: auto;
  grid-template-areas: 
  "title"
  "level-selection";
  justify-items: stretch;
  align-items: center;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(34, 33, 33, 0.75),rgba(34, 33, 33, 0.75)), url('./img/retrowave-background.jpg');
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}

/**
 * Style of the title section 
 */
.title{
  grid-area: title;
  height: 100%;
  width: 100%;
  text-align: center;
}

.title div {
  margin-top: 16vh;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 4vh;
}

/**
 * The tile of the project will shine 
 */
.title h1 {
  font-size: 60px;
}

.glow {
  font-size: 80px;
  color: $low-poly-pink;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 6px 3px $low-poly-shock, 0 6px 8px $low-poly-shock, 0 8px 10px $low-poly-shock, 0 12px 40px $low-poly-shock;
  }
  to {
    text-shadow: 0 6px 3px $low-poly-purple, 0 6px 8px $low-poly-purple, 0 8px 10px $low-poly-purple, 0 12px 40px $low-poly-purple;
  }
}

.title h4 {
  color: $low-poly-pink;
}

.title h5{
  color: $low-poly-purple;
  font-size: 24px;
}

.title h6{
  color: white;
}

/**
 * Style of the level selection section 
 */
.lvl-selection{
  grid-area: level-selection;
  background-color: rgba($color: #000000, $alpha: .6);
  height: 90%;
}

.lvl-selection .card-container {
  display: grid;
  grid-template-areas: 'card card card card';
  grid-template-columns: repeat(minmax(400px, 1fr));
  column-gap: 60px;
  padding: 6vh;
}

.card{
  padding: 2vh;
  display: inline-block;
  border: 2px solid $low-poly-blue;
  width: 300px;
  height: 100%;
  color: white;
  text-align: center;
  transition-timing-function: ease-out;
  transition: 0.2s;
}

.card:hover{
  position: relative;
  /* This timing applies on the way OUT */
  transition-timing-function: ease-in;
  /* Quick on the way out */
  transition: 0.2s;
  /* Hide thing by pushing it outside by default */
  transform: translateY(-10%);
  -webkit-animation: glow-card 1s ease-in-out infinite alternate;
  -moz-animation: glow-card 1s ease-in-out infinite alternate;
  animation: glow-card 1s ease-in-out infinite alternate;
}

@keyframes glow-card {
  from {
    box-shadow: 0 6px 3px $low-poly-dark, 0 6px 8px $low-poly-dark, 0 8px 10px $low-poly-dark, 0 12px 40px $low-poly-dark;
  }
  to {
    box-shadow: 0 6px 3px $low-poly-blue, 0 6px 8px $low-poly-shock, 0 8px 10px $low-poly-blue, 0 12px 40px $low-poly-blue;
  }
}

.card h3 {
  font-size: 20px;
}

.card p{
  /* margin: 2vh; */
  text-align: center;
  font-size: 14px;
}

.card button {
  margin-top: 6vh;
  margin-bottom: 1vh;
  width: 100%;
  height: 20%;
  font-family: 'Press Start 2P', cursive;
  background-color: $low-poly-blue;
  border: none;
}